.rightbar {
    flex: 3.5;

    .rightbarWrapper {
        padding: 20px 20px 0 0;

        .birthdayImg {
            font-size: 30px;
            margin-right: 10px;
        }

        .birthdatText {
            font-weight: 500;
            font-size: 15px;
        }

        .rightbarTitle {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .rightbarInfo {
            margin-bottom: 10px;
            text-align: center;

            .followButton {
                width: 100px;
                height: 50px;
                border-radius: 8px;
                background-color: #1775ee;
                color: white;
                border: none;
                cursor: pointer;

                &.active {
                    background-color: grey;
                }
            }

            .rightbarInfoItemKey {
                font-weight: 500;
                margin-right: 15px;
                color: #555;
            }

            .rightbarInfoItemValue {
                font-weight: 300;
            }

        }

        .rightbarFollowings {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
            margin: 10px;

            .rightbarFollowing {
                display: flex;
                flex-direction: column;
                align-items: center;

                .rightbarFollowingImage {
                    width: 64px;
                    height: 64px;
                }
            }
        }
    }
}